# Hidden OS files
.DS_Store
Thumbs.db

#  Utilities
/drush/contrib/

# Ignore libraries
/vendor/
node_modules

# Ignore files
/private/
!/private/.gitignore

# Ignore the web dir
/web/*

# Except modules
!/web/modules
/web/modules/*
!/web/modules/custom
!/web/modules/custom/*

# Except profiles
!/web/profiles
/web/profiles/*
!/web/profiles/custom
!/web/profiles/custom/*

# Except themes
!/web/themes
/web/themes/*
!/web/themes/custom
!/web/themes/custom/*
